modules = ["nodejs-20", "bash", "web", "python-3.11", "python3", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "cargo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "libiconv", "libxcrypt", "libyaml", "openssl", "pkg-config", "qhull", "rustc", "tcl", "tk"]

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "npm run dev"]
ignorePorts = true

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 5000

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8001
externalPort = 3000

[[ports]]
localPort = 8002
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start"
mode = "sequential"
author = 39796624

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"
